<p>const people = [
    { name: 'Wes', year: 1988 },
    { name: 'Kait', year: 1986 },
    { name: 'Irv', year: 1970 },
    { name: 'Lux', year: 2015 },
  ];</p>
  <p>const comments = [
    { text: 'Love this!', id: 523423 },
    { text: 'Super good', id: 823423 },
    { text: 'You are the best', id: 2039842 },
    { text: 'Ramen is my fav food ever', id: 123523 },
    { text: 'Nice Nice Nice!', id: 542328 }
  ];</p>
  <p>Is at least one person 19 or older?</p>
  <p>const isAdult = people.some(function(person) {
    const currentYear = (new Date()).getFullYear();
    return currentYear - person.year >= 19;
  })</p>
  <p>True</p>
  <p>Is every person 19 or older?</p>
  <p>False</p>
  <p>Find the comment with the id of 823423</p>
  <p>const comment = comments.find(comment => comment.id === 823423);</p>
<script type="text/javascript">
  const people = [
    { name: 'Wes', year: 1988 },
    { name: 'Kait', year: 1986 },
    { name: 'Irv', year: 1970 },
    { name: 'Lux', year: 2015 },
  ];

  const comments = [
    { text: 'Love this!', id: 523423 },
    { text: 'Super good', id: 823423 },
    { text: 'You are the best', id: 2039842 },
    { text: 'Ramen is my fav food ever', id: 123523 },
    { text: 'Nice Nice Nice!', id: 542328 }
  ];

  // .some

  const isAdult = people.some(function(person) {
    const currentYear = (new Date()).getFullYear();
    return currentYear - person.year >= 19;
  })
  console.log(isAdult);


// .every
  const allAdult = people.every(function(person) {
    const currentYear = (new Date()).getFullYear();
    return currentYear - person.year >= 19;
  })
  console.log(allAdult);

// .find
  const comment = comments.find(comment => comment.id === 823423);
    
  console.log(comment);

  // .findIndex
  // Find the comment with this id and delete the comment
  const index = comments.findIndex(comment => comment.id === 823423);
  console.log(index);

  // comments.splice(index, 1);
</script>