<body>
  <div class="wrapper">
    <video class="flex" width="765" height="430" src="https://www.youtube.com/watch?v=1UhCACcsWHQ&t=1967s" loop controls></video>
    <p>
    <div class="speed">
      <div class="speed-bar">1x</div>
    </div>
  </div>

</body>