@import "bootstrap";

html {
  background: url(drums.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.key {
  background-color: yellow;
  color: yellow;
}